<html>

    <head>
        <title>Waiting...</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
    

            <h1 class="text-center">Please Wait...</h1>

       
    <script src="/socket.io/socket.io.js"></script>

    <script>

        const socket = io()
        socket.on('o',()=>{
            console.log('received')
            window.location="http://www.localhost:3000/results";
        })

    </script>

    <script>
       console.log({{{subreddits}}})
    </script>


   
    </body>
</html>